<!DOCTYPE html>
<html lang="{{ site.lang }}" class="scroll-smooth">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title or title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index,follow"/>
    <meta name="googlebot" content="index,follow"/>
    <meta content="{{ keywords }}" name="keywords">
    <meta content="{{ description }}" name="description">
    <link rel="apple-touch-icon" sizes="57x57" href="{% favicon site.favicon, 57 %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% favicon site.favicon, 60 %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% favicon site.favicon, 72 %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% favicon site.favicon, 76 %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% favicon site.favicon, 114 %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% favicon site.favicon, 120 %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% favicon site.favicon, 144 %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% favicon site.favicon, 152 %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% favicon site.favicon, 180 %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% favicon site.favicon, 192 %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% favicon site.favicon, 32 %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% favicon site.favicon, 96 %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% favicon site.favicon, 16 %}">
    <meta name="msapplication-TileColor" content="{{ site.themeColor }}">
    <meta name="msapplication-TileImage" content="{% favicon site.favicon, 144 %}">
    <meta name="theme-color" content="{{ site.themeColor }}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="canonical" href="{{ site.canonical }}">
    <meta property="og:locale" content="{{ site.locale }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title or title }}">
    <meta property="og:description" content="{{ author.description }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta content="All" name="audience">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">
  </head>
  <body class="antialiased">
    <div class="container mx-auto py-4">
      {% if page.url == "/" %}
        {% include "partials/_header.njk" %}
      {% endif %}
      <main class="text-foreground-light dark:text-foreground-dark px-4">
        {{ content | safe }}
      </main>
      {% if page.url == "/" %}
        {% include "partials/_footer.njk" %}
      {% endif %}
    </div>
    {% if page.url == "/" %}
      {% set menu_toggle %}{% include "menu_toggle.js" %}{% endset %}
      <script>
        // prettier-ignore
        {{ menu_toggle | jsmin | safe }}
      </script>
    {% endif %}

    {% if page.url == "/" %}
      <!-- Slideshow Stuff-->
      <script>
        const slideData = {
          "fursona-slideshow": [
            {% for slide in fursona.slides %}
              {{ slide.text | dump | safe }}{% if not loop.last %},{% endif %}
            {% endfor %}
          ],
          "character-slideshow": [
            {% for slide in characters.slides %}
              {{ slide.text | dump | safe }}{% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        };
      </script>
      {% set slideShow %}{% include "slideshow.js" %}{% endset %}
      <script>
        // prettier-ignore
        {{ slideShow | jsmin | safe }}
      </script>
    {% endif %}

  </body>
</html>