---
layout: base.njk
description: AftDawn's personal corner of the web.
keywords: furry, amphimorpho, protogen, avali, personal site, personal website
---

{% include "partials/_hero.njk" %}
{% include "partials/_about.njk" %}
{% include "partials/_fursona.njk" %}
{% include "partials/_characters.njk" %}
{% include "partials/_contact.njk" %}