<!-- About Section -->
<section id="about" class="py-20 border-t border-border-light dark:border-border-dark">
  <div class="grid md:grid-cols-2 gap-10 items-center">
    <div>
      <h2 class="text-3xl font-bold mb-4">{{ about.title }}</h2>
      <p class="text-muted-foreground-light dark:text-muted-foreground-dark mb-4">{{ about.textHtml | safe }}</p>
    </div>
    <div class="bg-muted-light dark:bg-muted-dark rounded-lg p-6 overflow-auto " aria-hidden="true">
      <div class="text-sm text-muted-foreground-light dark:text-muted-foreground-dark min-w-[500px]">
        <code class="font-['MesloLGS_NF']">
          <!-- yes, this span spam is egregious, but look at how pretty it looks on the site!-->
          <span class="text-slate-700">╭─</span><span class="text-sky-500 bg-slate-700">  </span><span class="text-slate-700 bg-sky-600"></span><span class=" text-white bg-sky-600">  ~/Github/</span><span class=" text-white bg-sky-600 font-bold">AftDawn.com </span><span class="text-sky-600 bg-green-600"></span><span class="text-black bg-green-600">  main </span><span class="text-green-600 "></span><span class="text-slate-700">············</span><span class="text-emerald-600"></span><span class="bg-emerald-600 text-black">  26.8.1 </span><span class="bg-emerald-600 text-white"></span><span class="text-black bg-white" id="clock"> 00:00: AM </span><span class="text-white"></span><span class="text-slate-700">─╮</span>
          <br>
          <span class="text-slate-700">╰─</span><span class="text-green-500">❮</span> npm webfetch<span class="text-slate-700 whitespace-pre">                                                               ─╯</span><br/><br/>
          {% for item in about.code %}
            <dl class="flex mt-1 flex-nowrap">
              <dt class="font-bold w-24 text-blue-500">{{ item.label }}</dt>
              <dt class="text-orange-500 whitespace-pre">- </dt>
              <dd>{{ item.value }}</dd>
            </dl>
          {% endfor %}
        </code>
      </div>
    </div>
  </div>
  <script>
        
  setInterval(showTime, 1000);
  function showTime() {
      let time = new Date();
      let hour = time.getHours();
      let min = time.getMinutes();
      let sec = time.getSeconds();
      am_pm = "AM";

      // Setting time for 12 Hrs format
      if (hour >= 12) {
          if (hour > 12) hour -= 12;
          am_pm = "PM";
      } else if (hour == 0) {
          hr = 12;
          am_pm = "AM";
      }

      hour =
          hour < 10 ? "0" + hour : hour;
      min = min < 10 ? "0" + min : min;
      sec = sec < 10 ? "0" + sec : sec;

      let currentTime =
          hour +
          ":" +
          min +
          ":" +
          sec +
          " " +
          am_pm;

      // Displaying the time
      document.getElementById(
          "clock"
      ).innerHTML = " " + currentTime + " ";
  }

  showTime();
  </script>
</section>